<div class='dice-tooltip custom-system-dice-tooltip'>
    <div class='dice-rolls'>
        {{#each dice}}
            <span class='custom-system-dice-pool {{#if ../multipleDice}}custom-system-dice-pool-multiple{{/if}}' title='{{#if this.flavor}}{{this.flavor}}&#013;{{/if}}{{this.formula}} = {{this.total}}' data-hidden="{{this.hidden}}">{{#each
                    this.dice
                }}<span
                        class='roll {{this.classes}} custom-system-roll-tooltip-dice'
                    >{{{this.result}}}</span>{{/each}}</span>
        {{/each}}
    </div>
</div>